footer.c_footer.l_container
	.l_inner
		ul.c_footer_link_list
			li.c_footer_link_list_item
				a(href=pathData+"privacypolicy/").u_underline_add
					span dummy
			li.c_footer_link_list_item
				a(href=pathData+"terms-and-conditions/").u_underline_add
					span dummy 
		small.u_mt32 Copyright
			span(lang="en") &copy; 
			| dummy
